@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap');

/*** Light Mode Theme ***/
:root, [data-theme="default"] {
    --body-bg-color: black;
    --wrapper-bg-color: #ECFDF5;
    --wrapper-border-color: #6b7280;
    --h1-color: #2B283A;
    --p-color: #6B7280;
    --label-color: #6B7280;
    --line-border: 1px solid #D5D4D8; 
    --switch-on-color: #444352;
    --switch-off-color: #ccc;
    --toggler-color: #fff;
  }
  /* Dark Mode Theme */
  [data-theme="dark"] {
    --body-bg-color: black;
    --wrapper-border-color: #ffffff;
    --wrapper-bg-color: #1F2937;
    --h1-color: #FFFFFF;
    --p-color: #D5D4D8;
    --label-color: #FFFFFF;
    --line-border: 1px solid #2F3E53; 
    --toggler-color: #444352;
    --switch-on-color: #fff;
    --switch-off-color: #ECFDF5;
  }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: url("markus-spiske-FXFz-sW0uwo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 50px;
    max-height: 100vh;
}

.wrapper{
    background: var(--wrapper-bg-color);
    width: 550px;
    height: 570px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 55px 52px;
    border-radius: 15px;
    border: 5px solid var(--wrapper-border-color);
    box-shadow: 5px 5px 20px #FFFFFF;
}

h1{
    color: var(--h1-color);
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
}

span {
    color: #4ADF86;
}

p{
    color: var(--p-color);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 372px;
    height: 31px;
    margin: 0px;
}

.wrapper-1{
    width:550px;
    display: flex;
    gap: 15px;
    padding: 20px 0px;
}

.wrapper-2{
    width: 550px;
    display: flex;
}

#password-length {
    background: #273549;
    color: #4ADF86;
    text-align: center;
    width: 60px;
    height: 20px;
    margin-left: 10px;
    border-radius: 6px;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    width: 195px;
    height: 42px;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

button:hover{
  background: #4ADF86;
}



#line {
    width: 446px;
    height: 0px;
    border: var(--line-border);
    margin: 25px 0px;
}

.rectangle{
  display:flex;
 }

#password-1, #password-2{
    background: #273549;
    color: #4ADF86;
    text-align: center;
    font-size: 16px;
    border-radius: 6px; 
    width: 215px;
    height: 39px;
    padding-top: 6px;      
}

label {
    color: var(--label-color);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.controller-row {
    text-align: right;
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 20px;
  }
 
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--switch-off-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: var(--toggler-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: var(--switch-on-color);
  }
 
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  .slider.round:before {
    border-radius: 50%;
  }

 .fa-copy{
    position: relative;
    left: -25px;
    top: 10px;
    cursor: pointer;
    color: #5e6f88;
    transition: color .3s;
  }
  
  .fa-copy:hover {
    color: white;
  }

  .fa-copy:active {
  color: #4ADF86;
  }












